.margen {
  margin-bottom: 150px; }

.listaproductos {
  list-style-type: upper-latin;
  color: #292929; }

.fondolista {
  background-color: #7df08e; }

#nuestrosProd {
  display: grid;
  grid-template-areas: "tit1 tit2 tit3" "tex1 tex2 tex3" "ph1 ph2 ph3";
  grid-column-gap: 10px;
  grid-row-gap: 15px; }

@media (max-width: 1200px) {
  #nuestrosProd {
    display: grid;
    grid-template-areas: "tit1" "tex1" "ph1" "tit2" "tex2" "ph2" "tit3" "tex3" "ph3"; } }

section#tit1 {
  grid-area: tit1;
  width: 100%;
  text-align: center; }

section#tit2 {
  grid-area: tit2;
  width: 100%;
  text-align: center; }

section#tit3 {
  grid-area: tit3;
  width: 100%;
  text-align: center; }

section#tex1 {
  grid-area: tex1;
  width: 100%;
  height: 100%;
  text-align: center; }

section#tex2 {
  grid-area: tex2;
  width: 100%;
  height: 100%;
  text-align: center; }

section#tex3 {
  grid-area: tex3;
  width: 100%;
  height: 100%;
  text-align: center; }

section#ph1 {
  grid-area: ph1; }

section#ph2 {
  grid-area: ph2; }

section#ph3 {
  grid-area: ph3; }

.bordeBox {
  border-radius: 20px; }

.productos {
  width: 100%;
  align-items: center;
  justify-items: center; }

#listaPrecios {
  width: 100%;
  display: grid;
  grid-template-areas: ". pr1 pr2 pr3 ." ". pr4 pr5 pr6 ." ". pr7 pr8 pr9 ." ". pr10 pr11 pr12 .";
  grid-template-columns: auto 15% 10% 25% auto;
  grid-row-gap: 15px; }

section#pr1 {
  grid-area: pr1;
  width: 100%;
  height: 100%;
  text-align: center;
  border-top-left-radius: 40px; }

section#pr2 {
  grid-area: pr2;
  width: 100%;
  height: 100%;
  text-align: center; }

section#pr3 {
  grid-area: pr3;
  width: 100%;
  height: 100%;
  text-align: center;
  border-top-right-radius: 40px; }

section#pr4 {
  grid-area: pr4;
  width: 100%;
  height: 100%;
  text-align: center; }

section#pr5 {
  grid-area: pr5;
  width: 100%;
  height: 100%;
  text-align: center; }

section#pr6 {
  grid-area: pr6;
  width: 100%;
  height: 100%;
  text-align: left; }

section#pr7 {
  grid-area: pr7;
  width: 100%;
  height: 100%;
  text-align: center; }

section#pr8 {
  grid-area: pr8;
  width: 100%;
  height: 100%;
  text-align: center; }

section#pr9 {
  grid-area: pr9;
  width: 100%;
  height: 100%;
  text-align: left; }

section#pr10 {
  grid-area: pr10;
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom-left-radius: 40px; }

section#pr11 {
  grid-area: pr11;
  width: 100%;
  height: 100%;
  text-align: center; }

section#pr12 {
  grid-area: pr12;
  width: 100%;
  height: 100%;
  text-align: left;
  border-bottom-right-radius: 40px; }

.tablaPrecios {
  width: 70vw; }

.bordePrecio {
  border: 1px solid; }

.recetario {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 30px;
  flex-wrap: wrap;
  flex-grow: 1; }

.recetario__titulo {
  color: #de795f;
  font-size: 30px;
  font-family: "roboto", sans-serif;
  font-weight: 150;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  border: solid 2px black; }

.recetario__receta {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

@media (max-width: 900px) {
  .recetario {
    flex-direction: column;
    align-items: center; } }

.formulario {
  margin: auto;
  width: 60%; }

.formulario__entrada {
  border-radius: 10px;
  border: solid 1px black;
  width: 100%;
  height: 35px; }

.formulario__mensaje {
  border-radius: 10px;
  border: solid 1px black;
  width: 100%;
  height: 120px; }

.formulario__label {
  font-weight: 600; }

.nosotros {
  margin: auto;
  width: 80%; }

.nosotros__texto {
  font-size: 25px; }

body {
  background-color: white;
  animation-name: background;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

@keyframes background {
  0% {
    background-color: white; }
  50% {
    background-color: #fce8c0; }
  100% {
    background-color: white; } }

.carruselProductos {
  width: auto; }

.carousel-inner img {
  margin: auto; }

h1 {
  color: #7df08e;
  font-size: 45px;
  font-family: "roboto", sans-serif;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px; }

h3 {
  color: #7df08e;
  font-size: 35px;
  font-family: "roboto", sans-serif;
  text-align: center; }

b {
  color: #de795f;
  font-family: "roboto", sans-serif; }

.titulo {
  letter-spacing: 5px;
  font-size: 25px;
  font-family: "roboto", sans-serif;
  font-weight: 600;
  transition: all 0.5s; }

.titulo:hover {
  letter-spacing: 13px; }

.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }

.header__menu {
  width: auto; }

footer {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f7cc4a;
  margin-top: 30px;
  padding: 20px; }
  footer div {
    line-height: 4px; }

.hoverImagen {
  transition: all 0.6s; }

.hoverImagen:hover {
  transform: scale(1.3); }

.fadeIn {
  animation: opac 1.4s; }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeInDelay {
  animation: opac 3s; }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeInDelayLargo {
  animation: opac 5s; }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (max-width: 700px) {
  .tituloGrande {
    display: none; }
  .tituloChico {
    display: block; } }

@media (min-width: 701px) {
  .tituloGrande {
    display: block; }
  .tituloChico {
    display: none; } }
