$naranja: #de795f;
$verde: #7df08e;
$amarillo: #f7cc4a;

@import "productos";
@import "recetas";
@import "contacto";
@import "nosotros";


.carruselProductos{
	width: auto;
}

.carousel-inner img {
  margin: auto;
  width: 60%;
}

@media (max-width: 900px){
	.carousel-inner img {
		width: 90%;
	}	
}

h1 {
	color: white; 
	font-size: 45px;
	font-family: "roboto", sans-serif;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
}

h3 {
	color: $verde; 
	font-size: 35px;
	font-family: "roboto", sans-serif;
	text-align: center;
}

b {
	color: $naranja;
	font-family: "roboto", sans-serif;
}
.titulo {
	letter-spacing: 5px;
	font-size: 25px;
	font-family: "roboto", sans-serif;
	font-weight: 600;
	transition: all 0.5s;
}

.titulo:hover {
	letter-spacing: 13px;
}

.tituloSombra {
	text-shadow: 2px 2px 5px #292929;
	}  


.header {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	z-index: 100;
}

.header__menu {
	width: auto;
}


footer {
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	background-color: $amarillo;
	margin-top: 30px;
	padding: 20px;
}

.fondoContenedor{
	background-color: rgba(255,255,255,0.6);
	padding: 10px 15px;
	border-radius: 20px;
	box-shadow: 2px 2px 30px #292929;
}


.hoverImagen {
	border-radius: 20px;
	transition: all 0.6s;
}

.hoverImagen:hover {
	transform: scale(1.3);
}

.fadeIn{
	animation:opac 1.4s;
}
@keyframes opac{from{opacity:0} to{opacity:1}}

.fadeInDelay{
	animation:opac 3s;
}
@keyframes opac{from{opacity:0} to{opacity:1}}


.fadeInDelayLargo{
	animation:opac 5s;
}
@keyframes opac{from{opacity:0} to{opacity:1}}


.margenInferior{
	margin-bottom: 35px;
}


.whatsapp {
	position: fixed;
	right: 30px;
	bottom: 30px;
}